* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* font-family: 'Lato', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
font-family: 'Oxygen', sans-serif; */



/* ---------------------- MODALES CONTAINERS ----------------------- */

#modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80%;
    width: 80%;
    top: -200px;
    left: 0px;
    margin: 0 auto;
    transform: scale(0);
    z-index: 6;
  }

  #modal-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 80%;
    top: -800px;
    left: 0px;
    margin: 0 auto;
    transform: scale(0);
    z-index: 6;
  }

  /* ---------------------- PREMIERE MODALE----------------------- */

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    position: relative;
  }

.modal_photo img {
    width: 400px;
    height: auto;
}

  /* ---------------------- DEUXIEME MODALE----------------------- */
  .modal2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
    position: relative;
  }

  .modal_photo2 img {
    width: 400px;
    height: auto;
  }

    /* ---------------------- CLASSES ANIMATIONS ---------------------- */
  .closebouton {
    animation: closebouton 0.3s linear;
  }
  
  .removeanim {
    animation: "";
  }
  
  .blowUpModal {
    animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
  
  .blowUpModalTwo {
    animation: blowUpModalTwo .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  /* ---------------------- BOUTONS ------------------------ */

  .btnOpen2:hover {
    color: #c25486;
    text-decoration: underline;
    cursor: pointer;
  }
  /* ----------------- BOUTONS FERMER -------------- */

    /* ----------------- CONTAINER -------------- */
  
  .btnCancelContainer{
    display: inline-block;
    margin: 0;
    width: 40px;
  }

  .btnCancelContainer2{
    display: inline-block;
    margin: 0;
    width: 40px;
  }
  
  /* ----------------- BOUTON MODALE 1 -------------- */

  #btnCancel {
    width:40px;
    height:40px;
    background:transparent;
    border: 4px solid #7a1953;
    border-radius: 50%;
    position:relative;
    cursor:pointer;
    display:inline-block;
    margin:0;
    top: 71px;
    left: 165px;
    z-index: 2;
  }
  
/* ----------------- CROIX DANS LE BOUTON 1-------------- */

  #btnCancel::after{
    width:24px;
      height:4px;
      background-color:#7a1953;
      content:"";
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      position:absolute;
      transform:rotate(-45deg);
  }
  
  #btnCancel::before{
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      width:24px;
      height:4px;
      background-color:#7a1953;
      content:"";
      position:absolute;
      transform:rotate(45deg);
  }
  
/* ----------------- EFFETS AU HOVER BTN 1-------------- */

  #btnCancel:hover{
    background-color: #7a1953;
  }
  
  #btnCancel:hover::before, #btnCancel:hover::after{
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    margin-left:-10px;
    margin-right: 10px;
  }
  /* ----------------- BTN CONTAINER 1-------------- */

    #btnCancelContainer {
    margin: 8px 0;
    width: 400px;
    text-align: center;
  }

   /* ----------------- BOUTON MODALE 2 -------------- */

  #btnCancel2 {
    width:40px;
    height:40px;
    background:transparent;
    border: 4px solid #7a1953;
    border-radius: 50%;
    position:relative;
    cursor:pointer;
    display:inline-block;
    margin:0;
    top: 70px;
    left: 170px;
    z-index: 2;
  }
  /* ----------------- CROIX DANS LE BOUTON 2 -------------- */
  #btnCancel2::after{
    width:24px;
      height:4px;
      background-color:#7a1953;
      content:"";
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      position:absolute;
      transform:rotate(-45deg);
  }
  
  #btnCancel2::before{
      left:50%;
      top:50%;
      margin-left:-12px;
      margin-top:-2px;
      width:24px;
      height:4px;
      background-color:#7a1953;
      content:"";
      position:absolute;
      transform:rotate(45deg);
  }
  
/* ----------------- EFFETS AU HOVER BTN 2-------------- */

  #btnCancel2:hover{
    background-color: #7a1953;
  }
  
  #btnCancel2:hover::before, #btnCancel2:hover::after{
    background-color: #ffffff;
    width: 23px;
    height: 3px;
    margin-left:-12px;
    margin-right: 10px;
  }
  
    /* ----------------- BTN CONTAINER 1-------------- */

    #btnCancelContainer2 {
    margin: 8px 0;
    width: 400px;
    text-align: center;
  }
  
      /* ----------------- ANIMATIONS KEYFRAMES-------------- */

        /* ----------------- KEYFRAME EFFETS BOUTON FERMER -------------- */

  @keyframes closebouton {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* ----------------- KEYFRAME OUVERTURE -------------- */
  
  @keyframes blowUpModal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* ----------------- KEYFRAME FERMETURE -------------- */
  
  @keyframes blowUpModalTwo {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
/* ----------------- DIV PRINCIPALES -------------- */

.CV {
    width: 34vw;
    /* border: 1px solid rgb(197, 97, 152); */
    /* background-image: url(./images/background.svg); */
    /* background-size:100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

header {
    width: 50vw;
    height: 100vh;
}

/* ----------------- BACKGROUND -------------- */

.background {
  display: block;
  width: 649px;
}

/* ----------------- PHOTO PROFIL -------------- */

.photo {
  position: absolute;
    top: 30px;
    left: 30px;
}

.photo img {
  object-fit: cover;
  border-radius: 50%;
  width: 8vw;
  max-width: 130px;
  min-width: 100px;
  border: 0.3vw solid rgba(150,46,81,1);
  cursor: pointer;
}

/* ----------------- QR CODE RENVOI GITHUB -------------- */

.qrcode1 {
  position: absolute;
  top: 14px;
  left: 117px;
  z-index: 5;

}

.qrcode2 {
  position: absolute;
  top: -28px;
  left: 21px;
  z-index: 5;
}

.svg_qrcode {
    width: 8vw;
    max-width: 90px;
    min-width: 30px;
    cursor: pointer;
    
}

.reseaux a img {
  width: 75px;
}

.div-mobilite {
  position: relative;
  top:-12px;
  left: -148px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  color: #7a1953;

}

/* ----------------- DETAILS HEADER -------------- */

.header_textes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    top: 2vw;
    left: 19vh;
}

.nom {
    font-family: 'Oxygen', sans-serif;
    color: #c25486;
    padding: 1em;
    font-size: 0.7em;
    margin: 0.9em;
}

.titre {
  font-family: 'Lato', sans-serif;
  padding: 1em;
  font-size: 0.7em;
  margin-top: -1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  min-width: 400px;
}

.sous_titre {
font-family: 'Lato', sans-serif;
font-size: 0.75em;
margin-left: 1.6vw;
margin-top : 0px;
color: #c25486;
line-height: 1.5em;
padding-bottom: 5px;
}

.mobilite {
font-family: 'Lato', sans-serif;
font-style: italic;
font-size: 0.8em;
color: #7a1953;

}

.age {
  position: relative;
font-family: 'Lato', sans-serif;
padding-top: 0.5vw;
font-size: 1em;
top: -66px;
left: -120px;
}


.reseaux{
  position: absolute;
  width: 150px;
top: 30px;
left: 235px;
  z-index: 6;
  
}

.reseaux a {
  padding: 10px;
  text-decoration: none;
}

.reseaux img{
  width: 40px;
 
  z-index: 6;
}

/* ----------------- DIVS LIGNES -------------- */

.ligne{
    position: absolute;
    border-bottom: 1px solid black;
    border-image: linear-gradient(90deg, rgba(150,46,81,1) 0%, rgba(208,153,168,1) 49%, rgba(150,46,81,1) 90%);
    border-image-width: 1vw 1.5vw;
    border-image-slice: 1;
    width: 130px;

}

    #ligne_titre {
        top: 90px;
        left: 20px;
        
    }

    #ligne_contact {
      top: 40px;
      left: -18px;
      
    }

    #ligne_profil {
      top: 205px;
      left: -25px;
      
    }

    #ligne_hobbies {
      top: 45px;
      left: -22px;
      
    }

    #ligne_formation {
      top: 29px;
      left: 3px;
      
    }

    #ligne_competences {
      top: 104px;
      left: 3px;
      
    }

    #ligne_experience {
      top: 603px;
      left: 3px;
      
    }

/* ----------------- ICONES CONTAINER + ELEMENTS -------------- */

.icones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    padding-right: 0.5em;
    position:absolute;
    left: -10vw;
    top: 10vh;
    
}

.icon {
    padding: 0.65vh;
}

.fa-cake-candles{
    font-size: 1.2em;
    padding-right: 0.5em;
}

.fa-palette {
  color: #c25486;
}

.s1 {
  top: 48px;
  left: -44px;
}

.hobbies_icons {
  left: -20px;
  top: 56px;
}

.graduate {
  left: -42px;
  top: 44px;
}

.graduate i{
  padding-bottom: 13px;
}

.graduate img {
  width: 28px;
  padding-bottom: 13px;
}

.fa-hourglass-half {
  top: 224px;
  left: -24px;
}

#udemy {
  width: 12px;
}

#pluralsight {
  width: 24px;
}

/* ----------------- SECTION GAUCHE -------------- */

/* ----------------- CONTAINER GAUCHE-------------- */

#grid1 {
    position:absolute;
    width: 17vw;
    margin-right: 0px;
    top: 220px;
    left: 70px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50%; 
    grid-template-rows: 1em 27em 1em;
    gap: 1em 0px;
}

/* ----------------- DIV 3 SECTIONS TEXTE -------------- */

.textes_gauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  
}

/* ----------------- TITRES CATEGORIES -------------- */

.categorie_section_gauche {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #a7a7a7;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-left: 1em;
    padding-top: 15px;
}

/* ----------------- CONTAINERS SOUS SECTION -------------- */

#profil {
    top: 13vh;
}

#hobbies {
  position: relative;
    top: 1vh;
}

/* ----------------- MISE EN FORME TEXTES -------------- */

.texte_section_gauche {
  width: 8vw;
  min-width: 150px;
  font-family: 'Lato', sans-serif;
  padding: 0.6em;
  font-size: 0.65em;
  
}


/* ----------------- TEXTE CONTACT -------------- */

.contenu_gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 15px;
    
}

/* ----------------- TEXTE PROFIL -------------- */

.description {
    
  line-height: 1.2em;
    text-align: left;
    padding-top: 30px;

}

.description_texte {
    font-style: italic;
}

.date_stage {
  font-weight: 700;
}

/* ----------------- TEXTE HOBBIES -------------- */

.liste {
   padding-top: 25px;
}

.noms_hobbies {
    font-size: 1em;
    padding-bottom: 9px;
}

.arts {
    color: #c25486;
}

/* ----------------- SECTION DROITE -------------- */

/* ----------------- CONTAINER DROITE -------------- */

#grid2 {
    position:absolute;
    width: 60%;
    margin-right: 0px;
    top: 234px;
    left: 260px;
    display: grid;
    grid-template-columns: 780px; 
    grid-template-rows: 11em 16em 3em;
    gap: 4.5em 0; 
}

/* ----------------- TITRES SECTION DROITE -------------- */

.categorie_section_droite {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #d099a8;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* ----------------- MISE EN FORME TEXTES -------------- */

.texte_section_droite {
    width: 700px;
    font-family: 'Lato', sans-serif;
    padding: 6px;
    font-size: 0.65em;
    position: relative;
}

.detail_projet, .methodo, .modules, .afpa, .mention {
  font-style: italic;
  color: #8a8a8a;
}

.afpa a {
  color: #7a1953;
}
/* ----------------- SOUS SECTION FORMATION -------------- */

.formation_sections{
  position: relative;
  top: 0px;
}

.formation {
    top: 12px;
    left: -4px;
    width: 750px;
}

.diplomes {
    font-size: 0.5em;
    top: 18px;
}

/* ----------------- SOUS SECTION COMPETENCES -------------- */

#competences {
  position: relative;
    top: 17px;
}

.titre_competences {
    position: relative;
    top: 74px;
}

/* ----------------- ICONES TECHNOLOGIES -------------- */

.technologies_icons {
    position: relative;
    width: 386px;
    max-height: 500px;
    top: 96px;
    left: -17px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
   
}

.technologies_icons img {
    width: 55px;
    padding: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#logo_js {
    width: 50px;
}

#logo_mysql {
    width: 71px;
}

#en_logo {
    width: 50px;
}

/* ----------------- DIV PROJET -------------- */

.titre_projets {
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    top: 4px;
}

.projets {
  position: relative;
  top: 79px;
  left: -3px;
  line-height: 1.4em;
  font-size: 0.8em;
}


.projets ul {
    position: relative;
    top: -8px;
    font-size: 0.7em;
}

/* ----------------- SOUS SECTION EXPERIENCES -------------- */

#experience {
    top: -227px;
}


.experiences {
    font-size: 0.5em;
    top: 13px;
}